@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Patrick+Hand&display=swap');

body {
  /* font */
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f8f9f8;
  color: #2a3129;
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 2rem auto;
}
.patrick-hand {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
